body {
    background-color: black;
    color: white;
}
.name {
    background-color: white;
    text-align: center;
    color: Black;
}
.section1 {
    background-color: black;
    text-align: center;
    color: white;
}
.section2 {
    background-color: white;
    color: black;
}
.section3 {
    background-color: rgb(154, 154, 154);
    color: black;
}